.homePage {
  .swiper-slide {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  video,
  .titlesContainer {
    grid-column: 1;
    grid-row: 1;
  }

  .titlesContainer {
    z-index: 2;
    justify-self: flex-end;
    align-self: flex-end;
    padding: 0 $mainMargin calc($mainMargin * 2.5) 0;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 3.75rem;
    font-weight: 500;
  }

  .titleSubtitle {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: 500;
  }
}